// Normalize Styles
@import node_modules/normalize.css/normalize
@import node_modules/semantic-ui/dist/semantic.min


// Import Modules§
@import ../_modules/link/link


// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.left.circusfont
  left: 0
.right.circusfont
  right: 0

.rail-special .image.moving
  display: inline-block !important
  position: fixed !important

  &:nth-child(1)
    top: 60px !important
    left: 30px !important
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: swing;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: swing;
    -moz-animation-timing-function: ease-in-out;
  &:nth-child(2)
    top: 70px !important
    left: 100px !important
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: swing2;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: swing2;
    -moz-animation-timing-function: ease-in-out;
  &:nth-child(3)
    top: 0px !important
    left: 155px
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: swing3;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: swing3;
    -moz-animation-timing-function: ease-in-out;
  transform-origin: 50% 0%
  @keyframes swing
    0%
      transform:rotate(-10deg)
    50%
      transform:rotate(10deg)
    100%
      transform:rotate(-10deg)
  @keyframes swing2
    0%
      transform:rotate(-8deg)
    50%
      transform:rotate(8deg)
    100%
      transform:rotate(-8deg)
  @keyframes swing3
    0%
      transform:rotate(10deg)
    50%
      transform:rotate(-10deg)
    100%
      transform:rotate(10deg)
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;

.circusfont
  display: inline-block
  position: absolute
  top: 0
  padding: 35px
  font-family: 'Passion One', cursive
  color: rgb(200, 30, 90)
  font-size: 3em
  text-shadow: 10px 10px 25px rgba(200,30,70, .5)
  @-webkit-keyframes blink
    0%
        opacity:1
    5%
      opacity:.1
    7%
      opacity:1
    10%
      opacity:.3
    12%
      opacity:.9
    15%
      opacity:.25
    20%
      opacity: .8
    30%
      opacity: 1
    40%
      opacity: 1
    50%
        opacity:0
    55%
      opacity:.7
    60%
      opacity:.1
    65%
      opacity:.3
    73%
      opacity: 1
    80%
      opacity: 0
    100%
        opacity:1
  @-moz-keyframes blink
    0%
        opacity:1
    5%
      opacity:.1
    7%
      opacity:1
    10%
      opacity:.3
    12%
      opacity:.9
    15%
      opacity:.25
    20%
      opacity: .8
    30%
      opacity: 1
    40%
      opacity: 1
    50%
        opacity:0
    55%
      opacity:.7
    60%
      opacity:.1
    65%
      opacity:.3
    73%
      opacity: 1
    80%
      opacity: 0
    100%
        opacity:1

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-direction: normal;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;


body
  margin-top: 100px !important
  background-image: url(../images/subtle_white_feathers/subtle_white_feathers/subtle_white_feathers.png)

.menu
  margin-top: -15px
  border-top: 0 !important
  padding-top: 0 !important
  border-bottom: 5px solid rgba(200,50,70, .5) !important
  &:hover
    box-shadow: 0 0 25px rgba(200,30,90, .5) !important
  &:active
    box-shadow: 0 0 25px rgba(200,30,90, .75) !important
  .item:active
    color: rgb(200,30,90) !important

.ui.divided.items .item:not(:first-child)
  transition: all 1s ease-in-out
  &:hover
    .image img
      box-shadow: 0 0 15px rgb(200,30,90)
    .content
      box-shadow: 0 0 25px rgb(33,186,69)
  .content
    box-shadow: 0 0 25px rgba(200,30,90, .3)
    border: 1px solid rgb(200,30,90)
    border-top-right-radius: 1em
    border-bottom-right-radius: 5em

.ui.divided.items .item:first-child
  .image
    img
      border: 3px solid rgb(33,186,69)
    &:nth-child(1) img
      border-top-left-radius: 5em
      border-bottom-left-radius: 1em
      border-right: none;
      box-shadow: -5px 0 15px rgba(200,30,90, .7)
    &:nth-child(3) img
      border-top-right-radius: 5em
      border-bottom-rigth-radius: 1em
      border-left: none;
      box-shadow: 5px 0 15px rgba(200,30,90, .7)
  .hero.content
    padding: 25px
    border: 1px solid black
    border-color: black !important

.ui.divided.items .item:not(:first-child)
  img
    border-top-left-radius: 1em
    border-bottom-left-radius: 1em
    border: 1px solid black
  &:nth-child(1) img
    border-top-right-radius: 1em
    border-bottom-right-radius: 5em

.inverted.content
  background-image: url(../images/grey_wash_wall/grey_wash_wall/grey_wash_wall.png) !important
  padding: 25px !important

.ui.rail
  position: fixed
  top: 100px
.ui.right.rail
  transform: translateX(-100%)
.ui.left.rail
  transform: translateX(100%)
.ui.header.overlay
  position: fixed
  display: inline-block
  top: 60px
  right: 10%
  box-shadow: 0 20px 100px black
.hidden
  display: none !important
.no-padding
  padding: 0 !important
.no-margin
  margin: 0 !important
.browsehappy
  text-align: center
  margin: 0
  background: #fff8e2
  color: #000
  padding: 0.5em 0
